.No_01, .No_02, .No_03, .No_04, .No_05, .No_06, .No_07, .No_08, .No_09, .No_10, .No_11, .No_12, .No_13, .No_14, .No_15, .No_16, .No_17, .No_18, .No_19, .No_20, .No_21, .No_22, .No_23, .No_24, .No_25, .No_26, .No_27, .No_28, .No_29, .No_30, .No_31, .No_32, .No_33, .No_34, .No_35, .No_36, .No_37, .No_38, .No_39, .No_40, .No_41, .No_42, .No_43, .No_44, .No_45, .No_46, .No_47, .No_48, .No_49, .No_50, .No_51, .No_52, .No_53, .No_54, .No_55, .No_56, .No_57, .No_58, .No_59, .No_60, .No_61, .No_62, .No_63, .No_64, .No_65, .No_66, .No_67, .No_68, .No_69, .No_70, .No_71, .No_72, .No_73, .No_74, .No_75, .No_76, .No_77, .No_78, .No_79, .No_80 {
	background-image: url(images/ball_5.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.No_01 {
	background-position:0 0px
}
.No_02 {
    background-position:0 -27px
}
.No_03 {
    background-position:0 -54px
}
.No_04 {
    background-position:0 -81px
}
.No_05 {
    background-position:0 -108px
}
.No_06 {
    background-position:0 -135px
}
.No_07 {
    background-position:0 -162px
}
.No_08 {
    background-position:0 -189px
}
.No_09 {
    background-position:0 -216px
}
.No_10 {
    background-position:0 -243px
}
.No_11 {
    background-position:0 -270px
}
.No_12 {
    background-position:0 -297px
}
.No_13 {
    background-position:0 -324px
}
.No_14 {
    background-position:0 -351px
}
.No_15 {
    background-position:0 -378px
}
.No_16 {
    background-position:0 -405px
}
.No_17 {
    background-position:0 -432px
}
.No_18 {
    background-position:0 -459px
}
.No_19 {
    background-position:0 -486px
}
.No_20 {
    background-position:0 -513px
}
.No_21 {
    background-position:0 -540px
}
.No_22 {
    background-position:0 -567px
}
.No_23 {
    background-position:0 -594px
}
.No_24 {
    background-position:0 -621px
}
.No_25 {
    background-position:0 -648px
}
.No_26 {
    background-position:0 -675px
}
.No_27 {
    background-position:0 -702px
}
.No_28 {
    background-position:0 -729px
}
.No_29 {
    background-position:0 -756px
}
.No_30 {
    background-position:0 -783px
}
.No_31 {
    background-position:0 -810px
}
.No_32 {
    background-position:0 -837px
}
.No_33 {
    background-position:0 -864px
}
.No_34 {
    background-position:0 -891px
}
.No_35 {
    background-position:0 -918px
}
.No_36 {
    background-position:0 -945px
}
.No_37 {
    background-position:0 -972px
}
.No_38 {
    background-position:0 -999px
}
.No_39 {
    background-position:0 -1026px
}
.No_40 {
    background-position:0 -1053px
}
.No_41 {
    background-position:0 -1080px
}
.No_42 {
    background-position:0 -1107px
}
.No_43 {
    background-position:0 -1134px
}
.No_44 {
    background-position:0 -1161px
}
.No_45 {
    background-position:0 -1188px
}
.No_46 {
    background-position:0 -1215px
}
.No_47 {
    background-position:0 -1242px
}
.No_48 {
    background-position:0 -1269px
}
.No_49 {
    background-position:0 -1296px
}
.No_50 {
    background-position:0 -1323px
}
.No_51 {
    background-position:0 -1350px
}
.No_52 {
    background-position:0 -1377px
}
.No_53 {
    background-position:0 -1404px
}
.No_54 {
    background-position:0 -1431px
}
.No_55 {
    background-position:0 -1458px
}
.No_56 {
    background-position:0 -1485px
}
.No_57 {
    background-position:0 -1512px
}
.No_58 {
    background-position:0 -1539px
}
.No_59 {
    background-position:0 -1566px
}
.No_60 {
    background-position:0 -1593px
}
.No_61 {
    background-position:0 -1620px
}
.No_62 {
    background-position:0 -1647px
}
.No_63 {
    background-position:0 -1674px
}
.No_64 {
    background-position:0 -1701px
}
.No_65 {
    background-position:0 -1728px
}
.No_66 {
    background-position:0 -1755px
}
.No_67 {
    background-position:0 -1782px
}
.No_68 {
    background-position:0 -1809px
}
.No_69 {
    background-position:0 -1836px
}
.No_70 {
    background-position:0 -1863px
}
.No_71 {
    background-position:0 -1890px
}
.No_72 {
    background-position:0 -1917px
}
.No_73 {
    background-position:0 -1944px
}
.No_74{
    background-position:0 -1971px
}
.No_75 {
    background-position:0 -1998px
}
.No_76 {
    background-position:0 -2025px
}
.No_77 {
    background-position:0 -2052px
}
.No_78 {
    background-position:0 -2079px
}
.No_79 {
    background-position:0 -2106px
}
.No_80 {
    background-position:0 -2133px
}

































