body, div, span, p, b, textarea, input, select, form, table,tr,td{
	margin:0;
	padding:0;
	list-style-type:none;
	font-size:12px;
	z-index:auto;
	font-family:Verdana, "ו", Arial,Sans;
}
body {
	background-image: url(images/l_backdrop.jpg);
	background-repeat: repeat-y;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
td{
	cursor: default;
}
a{
	text-decoration:none;
	color:#4a1a04;
}
a:hover, .a1{
	text-decoration:none;
	color:#ff0000;
}
img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.Ball_List {
 	background-color:#e9ba84;
	border:1px #e9ba84 solid;
	border-collapse:collapse;
}
.Ball_List td{border:1px solid #e9ba84;}
.Ball_List td td{border:0px; }
.t_list {
	background-color:#e9ba84;
	border:0px #e9ba84 solid;
	position: relative;
}
.t_list_caption {
	background-image: url(images/bg.jpg);
	line-height: 28px;
	text-align:center;
	color: #000000;
	font-weight: bold;
}
.t_list_caption1 {
	background-image: url(images/bg.jpg);
	line-height: 20px;
	text-align:center;
	color: #4a1a04;
	font-weight: bold;
}
.t_td_but {
	height: 34px;
	text-align: center;
	background-image: url(images/td_but.jpg);
}
.t_td_caption_1 {
	height: 25px;
	line-height: 17px;
	text-align: center;
	background-color: #fdf8f2;
}
.t_td_caption_2 {
	height: 20px;
	line-height: 17px;
	text-align: center;
	background-color: #E4E4FF;
}
.t_td_text {
	height: 20px;
	line-height:17px;
	background-color: #FFFFFF;
	padding-left:2px;
}
.t_td_unite_1 {
	height: 20px;
	line-height: 17px;
	background-color: #fef7ee;
	text-align: center;
}
.t_td_unite_2 {
	height: 20px;
	line-height: 17px;
	background-color: #CFCFFF;
	text-align: center;
}
.t_td_odd_1 {
	height: 20px;
	line-height: 17px;
	background-color: #FEFFF3;
	text-align: center;
}
.t_td_odd_2 {
	height: 20px;
	line-height: 17px;
	background-color: #F4F4FE;
	text-align: center;
}
.btn_1{height:20px; line-height:1px;*line-height:15px!important; padding:2px; cursor:pointer;}

.inp1, .inp1m, .btn2, .btn2m, .btn3, .btn3m
{background-image:url(images/frame1.gif);background-repeat:no-repeat}
.inp1, .inp1m{border:1px solid #b0b0b0;height:18px;line-height:18px;padding-left:1px!important;padding-left:2px;color:#000}
.inp1{background-position:-1px 0;color:#000}
.inp1m{border:1px solid #A7BBD3;background-position:-476px 0;color:#000;border-color: #FF8800;}
.btn2, .btn2m{width:66px;height:20px;border:0px none;color:#0C3E09;background-color:transparent;background-position: -943px 0;cursor:pointer!important;}
.btn2{width:66px;background-position:-943px 0}
.btn2m{cursor: hand;width:66px;background-position:-1010px 0}
.btn3, .btn3m{width:44px;height:20px;border:0px none; color:#0C3E09;background-color:transparent;cursor:pointer!important;}
.btn3{width:44px;background-position:-1077px 0}
.btn3m{cursor: hand;width:44px;background-position:-1122px 0}
.jeu_XZ_Type {
	color: #2836F4;
}
.jeu_multiple {
	font-family: Arial, Helvetica, Verdana, Geneva,  sans-serif;
	color: #FF0000;
	font-weight: bold;
}
.jeu_OpenLottery {
	color: #299A26;
	font-weight: bold;
}
.JeuChange_Clew_G {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #37AA2B;
	text-align: center;
	height:17;
	vertical-align: text-bottom;
}
.JeuChange_Clew_R {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #FF0000;
	text-align: center;
	height:17;
	vertical-align: text-bottom;
}
.s_list {
	background-color:#e9ba84;
	border:1px solid #F4F9FF;
}
.s_td_0 {
	background-color:#ffffff;
	text-align: center;
	height: 15px;
	font-weight: bold;
	vertical-align: text-bottom;
}
.s_td_1 {
	background-color:#FFFFA2;
	text-align: center;
	height: 15px;
	font-weight: bold;
	vertical-align: text-bottom;
}
.Font_R {
	color: #FF3A4A;
}
.Font_B {
	color: #067ECE;
}
.Font_G {
	color: #37AA2B;
}
.jeu_tr_c {
	background-color:#ebd7d7;
	text-align: center;
	height: 17px;
	font-weight: bold;
	vertical-align: text-bottom;
}
.jeu_tr {
	background-color:#ffffff;
	text-align: center;
	height: 17px;
	vertical-align: text-bottom;
}
.f_left {
	text-align: left;
	text-indent: 2px;
}
.f_right {
	text-align: right;
}

.Left_X {
	text-align: right;
}

.Left_Place {
	position: relative;
	top:0px;
	left: 0px;
}