<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connestionString" connectionString=""/>
  </connectionStrings>
  <appSettings>
    <!--Mail SMTP Server-->
    <add key="SMTP_SERVER" value=""/>
    <add key="SMTP_USER" value=""/>
    <add key="SMTP_PWD" value=""/>
    <add key="SMTP_MAIL" value=""/>
    <add key="MAIL_SUBJECT" value="通知"/>
    <!--通知人-->
    <add key="User" value=""/>
  </appSettings>
</configuration>