@charset "utf-8";
*{
	margin:0;
	padding:0;
	list-style-type:none;
	font-size:12px;
	font-family:Verdana, "宋体", Arial,Sans;
}
html, body, form { width:100%; height:100%;}
body.bd{
	background:url(/images/l_backdrop.jpg) repeat-y;
}
.o {
	float:left;
}
.l {
	width:26px;
	height:26px;
	line-height:25px;
	font-weight:bold;
	background:url(../images/l.gif) no-repeat;
}
.h {
	width:26px;
	height:26px;
	line-height:25px;
	font-weight:bold;
	background:url(../images/h.gif) no-repeat;
}
.q {
	width:26px;
	height:26px;
	line-height:25px;
	font-weight:bold;
	background:url(../images/q.gif) no-repeat;
}
.red {
	color:red;
}
.hj {
	padding-left:5px;
}
.hj div {
	float:left;
}
.bgh {
	text-decoration:none;
	color:red;
	font-weight:bold;
}
.bgh:hover {
	text-decoration:underline;
}
.bgs {
	text-decoration:none;
	color:red;
	font-weight:bold;
}
.bbn {
	margin-left:50px;
	line-height:20px;
}
.gv {
	margin-top:10px;
	margin-left:10px;
}
td{
	cursor: default;
}
a{
	text-decoration:none;
	color:#4A1A04;
}
a:hover, .a1{
	text-decoration:none;
	color:#ff0000;
}
img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.captions {
	display:block;
	width:100%;
	height: 20px;
	line-height:20px;
	text-align: center;
	font-weight:bold;
	background-color: #EBF4FF;
	border-bottom:1px solid #DDE0E2;
}
.t_list {
	background-color:#E9BA84;
	border:0px #DDE0E2 solid;
	position: relative;
}
.t_list_1 {
	background-color:#E9BA84;
	border:px #DDE0E2 solid;
}
.t_list_captionalai {
	background: url(/images/bg.jpg);
	line-height: 24px;
	text-align:center;
	color: #000000;
}
.t_list_captionalai_1 {
	background: url(/images/bg.jpg);
	line-height: 24px;
	text-align:center;
	color: #000000;
}
.t_list_captionalai_11 {
	background: url(/images/bg1.jpg);
	line-height: 24px;
	text-align:center;
	color: #000000;
}
.t_list_caption {
	background: url(/images/bg.jpg);
	line-height: 32px;
	text-align:center;
	color: #000000;
	font-weight: bold;
}
.t_list_caption_1 {
	background: url(/images/bg.jpg);
	line-height: 24px;
	text-align:center;
	color: #000000;
}
.t_list_caption_11 {
	background: url(/images/bg1.jpg);
	line-height: 24px;
	text-align:center;
	color: #000000;
}
.Man_bottom {
	background:url(/Images/bg1.jpg);
}
.t_td_but {
	height: 34px;
	text-align: center;
	background: url(/images/td_but.jpg);
}
.t_td_caption_1 {
    background-color: #fff5ec;
    height: 22px;
    line-height: 17px;
    text-align: center;
}
.t_td_caption_2 {
    background-color: #FDF8F2;
    height: 22px;
    line-height: 17px;
    text-align: center;
}
.t_td_text {
    background-color: #FFFFFF;
    height: 25px;
    line-height: 17px;
    text-indent: 2px;
}
.t_td_text1 {
    background-color: #FFFFFF;
    height: 20px;
    line-height: 17px;
    text-indent: 2px;
}
.t_td_text1:hover {
    background-color: #FFFFA2;
    height: 20px;
    line-height: 17px;
    text-indent: 2px;
}
.t_td_unite_1 {
	height: 20px;
	line-height: 17px;
	background-color: #D8E8FF;
	text-align: center;
}
.t_td_unite_2 {
	height: 20px;
	line-height: 17px;
	background-color: #CFCFFF;
	text-align: center;
}
.t_td_odd_1 {
	height: 20px;
	line-height: 17px;
	background-color: #FEFFF3;
	text-align: center;
}
.t_td_odd_2 {
	height: 20px;
	line-height: 17px;
	background-color: #e8dccf;
	text-align: center;
}
.t_td_odd_3 {
	height: 18px;
	line-height: 17px;
	background-color: #eee;
	text-align: center;
}
.t_td_odd_4 {
	height: 18px;
	line-height: 17px;
	background-color: #fff;
	text-align: center;
}
.inp1, .inp1m, .btn2, .btn2m, .btn3, .btn3m
{background-image:url(images/frame1.gif);background-repeat:no-repeat}
.inp1, .inp1m{border:1px solid #ABB2C5;height:20px;height/**/:18px;padding-top:1px;padding-left:1px!important;padding-left:2px;color:#000}
.inp1{
	background:#FFFFFF;
	color:#000;
	height:15px
}
.inp1m{
	height:15px;
	color:#000;
	background:#FCFDCF;
	border:1px solid #A7BBD3;
    border-color: #FF8800;
}
.btn2{
   background-image:url(/images/frame1.gif); 
   BACKGROUND-REPEAT: no-repeat;
}
.btn2alai1{
	width:62px;
	height:15px;
	padding-top:2px;
	color:#000;
	cursor:pointer;
	background:url(/images/frame1.gif);
	background-position:-1010px 0;
	border:none;
	position:relative;
}
.btn2alai2{
	width:66px;
	height:17px;
	padding-top:2px;
	color:#000;
	cursor:pointer;
	background:url(/images/frame1.gif);
	background-position:-1010px 0;
	border:none;
	position:relative;
}
.btn2alai{
   width:66px;
   height:17px;
   padding-top:2px;
   background-image:url(/images/frame1.gif);
   background:url(/images/frame1.gif);
   background-position:-1010px 0;
   border:none;
}
.btn2, .btn2m{width:66px;height:19px;border:0px none; padding-top:0px!important;padding-top/**/:px !important;padding-bottom:2px!important;margin-bottom:0;color:#0C3E09;background-color:transparent;background-position: -943px 0;cursor:hand!important;cursor:hand !important}
.btn2{width:66px;background-position:-943px 0}
.btn2m{cursor: width:66px;height:17px;padding-top:2px;background-image:url(/images/frame1.gif);hand;width:66px;background-position:-1010px 0}
.btn3, .btn3m{width:44px;height:17px;border:0px none; padding-top:3px!important;padding-top:3px;padding-top/**/:3px !important;padding-bottom:2px!important;margin-bottom:0;color:#0C3E09;background-color:transparent;cursor:hand!important;cursor:hand !important}
.btn3{width:44px;background-position:-1077px 0}
.btn3m{cursor: hand;width:44px;background-position:-1122px 0}

.jeu_XZ_Type {
	color: #2836F4;
}
.jeu_multiple {
	font-family: Arial, Helvetica, Verdana, Geneva,  sans-serif;
	color: #FF0000;
	font-weight: bold;
}
.jeu_OpenLottery {
	color: #299A26;
	font-weight: bold;
}
.JeuChange_Clew_G {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #37AA2B;
	text-align: center;
	height:17;
	vertical-align: text-bottom;
}
.JeuChange_Clew_R {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #FF0000;
	text-align: center;
	height:17;
	vertical-align: text-bottom;
}
.s_list {
	background-color:#C8DFFF;
	border:1px #F4F9FF solid;
}
.s_td_0 {
	background-color:#ffffff;
	text-align: center;
	height: 15px;
	font-weight: bold;
	vertical-align: text-bottom;
}
.s_td_1 {
	background-color:#FFFFA2;
	text-align: center;
	height: 15px;
	font-weight: bold;
	vertical-align: text-bottom;
}
.s_td_3 {
	background-color:#eee;
	text-align: center;
	height: 15px;
	font-weight: bold;
	vertical-align: text-bottom;
}
.s_td_4 {
	background-color:#fff;
	text-align: center;
	height: 15px;
	font-size:14px;
	vertical-align: text-bottom;
}
.Font_R {
	color: #FF3A4A;
}
.Font_B {
	color: #067ECE;
}
.Font_G {
	color: #37AA2B;
}
.jeu_tr_c {
	background-color:#E3E3E3;
	text-align: center;
	height: 17px;
	font-weight: bold;
	vertical-align: text-bottom;
}
.jeu_tr {
	background-color:#ffffff;
	text-align: center;
	height: 17px;
	vertical-align: text-bottom;
}
.f_left {
	text-align: left;
	text-indent: 2px;
}
.f_right {
	text-align: right;
}

.Left_X {
	text-align: right;
}

.Left_Place {
	position: relative;
	top:-4px;
	left: -1px;
}

.JZRCB{
	background-color:#cc2c2c;
	height:28px;
	text-align:left;
	line-height:28px;
	font-size:13px;
	font-family:"宋体";
	text-align: center;
	font-weight:bold;
}
.f_bt {
	padding-bottom:10px;
	border-bottom:1px #DDE0E2 solid;
}
.inputa_2 {
	width:66px;
	height:17px;
	padding-top:3px;
	color:#000;
	cursor:pointer;
	background:url(/user/images/frame1.gif);
	background-position:-943px 0;
	border:none;
	position:relative;
}
.input_2 {
	width:66px;
	height:17px;
	padding-top:2px;
	color:#000;
	cursor:pointer;
	background:url(/user/images/frame1.gif);
	background-position:-1000px 0;
	border:none;
	position:relative;
}
.inputs {
	width:66px;
	height:17px;
	border:none;
	background:url(/images/frame1.gif);
	background-position:-943px 0;
	cursor:pointer;
}
.inputq {
	width:44px;
	height:17px;
	border:none;
	background:url(/user/images/frame1.gif);
	background-position: -1122px 0;
	cursor:pointer;
}
.inp2s{
	border:1px #D0F1FF solid;
	color:#000; 
	width:150px;
	height:15px
}
.textcc {
	height:23px;
	background-color:#FDF8F2;
}

.No_1, .No_2, .No_3, .No_4, .No_5, .No_6, .No_7, .No_8, .No_9, .No_10 {
	background-image: url(/user/images/ball_3.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.No_ {
	background-image: url(/user/images/No_.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

.No_1 {
	background-position:0 0px
}
.No_2 {
    background-position:0 -27px
}
.No_3 {
    background-position:0 -54px
}
.No_4 {
    background-position:0 -81px
}
.No_5 {
    background-position:0 -108px
}
.No_6 {
    background-position:0 -135px
}
.No_7 {
    background-position:0 -162px
}
.No_8 {
    background-position:0 -189px
}
.No_9 {
    background-position:0 -216px
}
.No_10 {
    background-position:0 -243px
}
/*zerc 0720 */
.t_result .No_1,.t_result .No_2,.t_result .No_3,.t_result .No_4,.t_result .No_5,
.t_result .No_6,.t_result .No_7,.t_result .No_8,.t_result .No_9,.t_result .No_10{
	width:26px;
	height:26px;
}
.t_result .hj1{
	width:30px;
}
.t_result .l,
.t_result .h,
.t_result .q{
	border-right:1px solid #E9BA84;
	padding-right:2px;
	margin-left:2px;
}
.t_result td,
.t_result div{
	color:#4F260D;
}
.t_result tr.tbheader td{
	font-weight:bold;
}
.t_result .t_list_caption{
	height:24px;
	line-height:24px;
}
.t_result .t_td_caption_1{
	height:20px;
}






.No_gd1, .No_gd2, .No_gd3, .No_gd4, .No_gd5, .No_gd6, .No_gd7, .No_gd8, .No_gd9, .No_gd10, .No_gd11, .No_gd12, 

.No_gd13, .No_gd14, .No_gd15, .No_gd16, .No_gd17, .No_gd18, .No_gd19, .No_gd20 {
	background-image: url(/user/images/ball_1.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.No_gd1 {
	background-position:0 0px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd2 {
    background-position:0 -27px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd3 {
    background-position:0 -54px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd4 {
    background-position:0 -81px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd5 {
    background-position:0 -108px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd6 {
    background-position:0 -135px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd7 {
    background-position:0 -162px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd8 {
    background-position:0 -189px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd9 {
    background-position:0 -216px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd10 {
    background-position:0 -243px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd11 {
    background-position:0 -270px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd12 {
    background-position:0 -297px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd13 {
    background-position:0 -324px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd14 {
    background-position:0 -351px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd15 {
    background-position:0 -378px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd16 {
    background-position:0 -405px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd17 {
    background-position:0 -432px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd18 {
    background-position:0 -459px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd19 {
    background-position:0 -486px;WIDTH: 28px; HEIGHT: 28px
}
.No_gd20 {
    background-position:0 -513px;WIDTH: 28px; HEIGHT: 28px
}

.No_nc1, .No_nc2, .No_nc3, .No_nc4, .No_nc5, .No_nc6, .No_nc7, .No_nc8, .No_nc9, .No_nc10, .No_nc11, .No_nc12, 

.No_nc13, .No_nc14, .No_nc15, .No_nc16, .No_nc17, .No_nc18, .No_nc19, .No_nc20 {
	background-image: url(/user/images/ball_9.png);
	width: 32px;
	height: 32px;
	margin: 0;
}

.No_nc1 {
	background-position: 0 0;
}
.No_nc2 {
    background-position: 0 -33px;
}
.No_nc3 {
    background-position: 0 -66px;
}
.No_nc4 {
    background-position: 0 -99px;
}
.No_nc5 {
    background-position: 0 -132px;
}
.No_nc6 {
    background-position: 0 -165px;
}
.No_nc7 {
    background-position: 0 -198px;
}
.No_nc8 {
    background-position: 0 -231px;
}
.No_nc9 {
    background-position: 0 -264px;
}
.No_nc10 {
    background-position: 0 -297px;
}
.No_nc11 {
    background-position: 0 -330px;
}
.No_nc12 {
    background-position: 0 -363px;
}
.No_nc13 {
    background-position: 0 -396px;
}
.No_nc14 {
    background-position: 0 -429px;
}
.No_nc15 {
    background-position: 0 -462px;
}
.No_nc16 {
    background-position: 0 -495px;
}
.No_nc17 {
    background-position: 0 -528px;
}
.No_nc18 {
    background-position: 0 -561px;
}
.No_nc19 {
    background-position: 0 -594px;
}
.No_nc20 {
    background-position: 0 -627px;
}


.No_cq0, .No_cq1, .No_cq2, .No_cq3, .No_cq4, .No_cq5, .No_cq6, .No_cq7, .No_cq8, .No_cq9 {
	background-image: url(/user/images/ball_2.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.No_cq0 {
	background-position:0 0px;WIDTH: 28px; HEIGHT: 28px
}
.No_cq1 {
    background-position:0 -27px;WIDTH: 28px; HEIGHT: 28px
}
.No_cq2 {
    background-position:0 -54px;WIDTH: 28px; HEIGHT: 28px
}
.No_cq3 {
    background-position:0 -81px;WIDTH: 28px; HEIGHT: 28px
}
.No_cq4 {
    background-position:0 -108px;WIDTH: 28px; HEIGHT: 28px
}
.No_cq5 {
    background-position:0 -135px;WIDTH: 28px; HEIGHT: 28px
}
.No_cq6 {
    background-position:0 -162px;WIDTH: 28px; HEIGHT: 28px
}
.No_cq7 {
    background-position:0 -189px;WIDTH: 28px; HEIGHT: 28px
}
.No_cq8 {
    background-position:0 -216px;WIDTH: 28px; HEIGHT: 28px
}
.No_cq9 {
    background-position:0 -243px;WIDTH: 28px; HEIGHT: 28px
}



.No_gx1, .No_gx2, .No_gx3, .No_gx4, .No_gx5, .No_gx6, .No_gx7, .No_gx8, .No_gx9, .No_gx10, .No_gx11, .No_gx12, 

.No_gx13, .No_gx14, .No_gx15, .No_gx16, .No_gx17, .No_gx18, .No_gx19, .No_gx20,.No_gx21 {
	background-image: url(/user/images/ball_4.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.No_gx1 {
	background-position:0 0px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx2 {
    background-position:0 -27px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx3 {
    background-position:0 -54px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx4 {
    background-position:0 -81px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx5 {
    background-position:0 -109px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx6 {
    background-position:0 -136px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx7 {
    background-position:0 -163px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx8 {
    background-position:0 -190px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx9 {
    background-position:0 -217px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx10 {
    background-position:0 -244px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx11 {
    background-position:0 -272px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx12 {
    background-position:0 -299px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx13 {
    background-position:0 -325px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx14 {
    background-position:0 -352px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx15 {
    background-position:0 -379px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx16 {
    background-position:0 -406px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx17 {
    background-position:0 -433px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx18 {
    background-position:0 -458px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx19 {
    background-position:0 -485px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx20 {
    background-position:0 -512px;WIDTH: 28px; HEIGHT: 28px
}
.No_gx21 {
    background-position:0 -539px;WIDTH: 28px; HEIGHT: 28px
}
.t_Edit_td {
	text-align:left;
	line-height:28px;
	background:#FFFFFF;
	text-indent:3px;
	padding-left:5px!important;
}
.t_Edit_td_1 {
	text-align:left;
	height:28px;
	line-height:28px;
	background:#fff;
	text-indent:3px;
	padding-left:5px!important;
}
.inp2, .inp2m{border:1px solid #ABB2C5;height:18px;height/**/:18px;padding-top:1px;padding-left:1px!important;padding-left:2px;color:#000}
.inp2{
	color:#000;
	height:18px
}
.inp2m{
	height:18px;
	border:1px solid #A7BBD3;
	color:#000;
	border-color:#FF8800;
	background:#FCFDCF;
}
.st{ font-family:"宋体"}
.green3{color:#0C3E09!important;}
.upinp, .upinp1{border:1px solid #FFFFCC;height:15px;height:15px;padding-top:1px;padding-left:1px!important;color:#FFFFCC}
.upinp{
	background:#fff;
	border-color:#000000;	
	color:#000;
	height:15px;
}
.upinp1{
	height:15px;
	border:1px solid #A7BBD3;
	color:red;
	border-color:#FF0000;
	background:#FFFFCC;
}
.t_list_tr_0 {
	background-color:#ffffff;
	text-align: center;
	height: 20px;
	line-height: 17px;
}